<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

	<property name="logFilePositionDir"
		value="C:/Users/dengshuai.ASPIRE/Desktop/log" />

	<appender name="consoleAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L- %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="fileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/logFile.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/logFile.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<MaxHistory>
				7
			</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L- %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com" level="error">
		<appender-ref ref="fileAppender" />
	</logger>
	<root level="info">
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>